<template>
  <p class="text-center">
    <button class="btn btn-lg btn-${showRandom ? 'secondary' : 'primary'} ${ selectedPost ? '' : 'disabled' }"
            disabled.bind="!selectedPost"
            click.delegate="showRandom = !showRandom">
      ${ showRandom ? '&lt; Back' : 'Selet Random Like' }
    </button>
  </p>

  <div class="row"
       hide.bind="showRandom">
    <div class="col-md">
      <h2>Pages</h2>
      <pages selected-page.two-way="selectedPage"></pages>
    </div>
    <div class="col-md">
      <h2>Posts</h2>
      <posts selected-page.bind="selectedPage"
             selected-post.two-way="selectedPost"></posts>
    </div>
    <div class="col-md">
      <h2>Likes</h2>
      <likes selected-page.bind="selectedPage"
             selected-post.bind="selectedPost"></likes>
    </div>
  </div>

  <random-like show.bind="showRandom"
               page.bind="selectedPage"
               post.bind="selectedPost"></random-like>
</template>
