body {
  background-color: #abc7c5;
}

header {
  padding: 10px;
  background-color: #000;
  color: #fff;
}

main {
  padding: 10px;
  background-color: #fff;
  border-bottom: 2px solid #ccc;
}

.like-badges {
  font-size: 80%;
}

.like-badges span {
  width: 4em;
  margin: 2px;
}

.selected-users {
  margin-bottom: 10px;
}

.selected-users .card {
  padding: 10px;
}

.like-badges span.badge-default,
.selected-users .card.bg-default {
  animation-duration: 2s;
  animation-name: badge-tail;
}

.winner {
  width: 400px;
  margin: 10px auto;
  padding-top: 15px;
}

.winner img {
  margin: auto;
  width: auto;
}

@keyframes badge-tail {
  from {
    background-color: #666;
  }
  to {
    background-color: transparent;
  }
}
