body {
  background-color: #262626;
  font-family: 'Trade Gothic', Arial, sans-serif;
}

header {
  background-color: #E55300;
  color: #fff;
  height: 110px;
  vertical-align: bottom;
  padding: 15px 0;
  border-bottom: 6px solid #000;
}

header a {
  color: #c7c7c7;
}

main {
  margin-left: -15px;
  margin-right: -15px;
  padding: 15px;
  background-color: #fff;
}

.like-badges {
  font-size: 80%;
}

.like-badges span {
  width: 4em;
  margin: 2px;
}

.selected-users {
  margin-bottom: 10px;
}

.selected-users .card {
  padding: 10px;
}

.like-badges span.badge-default,
.selected-users .card.bg-default {
  animation-duration: 2s;
  animation-name: badge-tail;
}

.winner {
  width: 400px;
  margin: 10px auto;
  padding-top: 15px;
}

.winner img {
  margin: auto;
  width: auto;
}

@keyframes badge-tail {
  from {
    background-color: #666;
  }
  to {
    background-color: transparent;
  }
}
